@charset "UTF-8";

/* header.jsp */
.navbar-default {
	max-height:none;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	font-size: 40px;
	color: black;
	padding: 40px;
}

 .navbar-nav .btn {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:10px;
}

.navbar-upper li{
	height:30px;
}

.navbar-upper > li > a{
	padding:10px;
}

div #collapse_row {
	text-align:right;
	padding-right:10px;
	margin:0px;
}


/* footer.jsp */
footer .navbar-static-bottom {	
 	bottom: 0;
	margin-bottom:0px; 
	height:50px;
} 


footer .outer {
	width:100%;
	height:100%;
	display:table;
}

footer .inner {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.inner > p {
	margin:0px;
}


/* index.jsp */
#indexSection {
	text-align:center;
}

#statusContent{
	text-align:center;
	margin:0px;
	padding:0px;
}

#statusTableChart {
	padding:0px;
	text-align:center;
}

#statusTable,#statusChart,#statusMap {
	border:1px solid black;
	border-radius:20px;
	margin:20px;
	padding:15px;
	min-width:450px;
}

#statusTable {
	
}

#statusTable th, #statusTable td{
	text-align:center;
	font-weight:bold;
	font-size:17px;
}
#statusTable #compareCnt {
	font-weight:normal;
	font-size:13px;
}

#decideCnt {
	color:rgb(191,51,37);
}
#clearCnt {
	color:rgb(31,171,90);
}
#careCnt {
	color:rgb(145,71,174);
}
#deathCnt {
	color:rgb(42,42,42);
}
#accExamCnt {
	color:rgb(33,123,182);
}

#statusInfo {
	text-align:left;
}

#statusChart {
	min-width:450px;
	min-height:500px;
}

#statusMap {
	min-width:400px;
}

#statusMapLegend {
	position:absolute; 
	right:24px;
	bottom:20px;
	float:right;
	margin:0px;
	width:150px;
	text-align:center;
}

#legend {
	text-align:center;
}

#icon.row {
	width:24px;
	height:20px;
	padding:0px;
}

#legend p {
	text-align:center;
}