@charset "UTF-8";

/* mypage_header.jsp */
#mypage {
	/* min-width:1000px; */
}

.sidebar {
	width:20%;
	min-width:200px;
	
	height:100vh;
	margin:0;
	
	background-color:white;
}

.sidebar #sidebar-title {
	margin-top:0;
	padding:30px 10px 100px 10px;
	font-weight:bold;
}

.sidebar-item {
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color:#4089db;
}

.sidebar-item a {
	height:80px;
	color:#444444;
	font-size:1.8rem;
	padding:20px;
}

.mypage-content {
	min-width:700px;
	text-align:center !important;
}

/* mypost.jsp, myreply.jsp */
#board-list-container {
	text-align: center;
}

#align {
	text-align:center;
}

#deleteList {
	float:right;
}

#deleteList button {
	margin:5px;
}

#tbl-board th, #tbl-board td{
	text-align:center;
}

.mypage-content nav {
	text-align:cetner;
}

#pageBar {
	margin-top:10px; 
	text-align:center;
}

/* update.jsp */
#mypage-container {
	text-align: center;
}

#mypage-container .input-group {
	width:100%;
}
#mypage-container input,select {
	margin: 3px;
	width:100%;
}

#mypage-container table {
	margin: 0 auto;
}

#mypage-container table th {
	padding: 0 10px;
	text-align: right;
}

#mypage-container table td {
	padding: 0 10px;
	text-align: left;
}

#passresult, #idresult, #nicknameresult {
	font-size: 8px;
	color: red;
}

#updateBtns {
	margin-top:50px;
}

#updateBtns * {
	margin:10px !important;
	width:auto !important;
}

/* checkPw.jsp */
#checkPw-container {
	text-align: center;
	margin-top:100px;
}

#checkPw-container table {
	margin: 0 auto;
}

#checkPw-container table th {
	padding: 0 10px;
	text-align: right;
}

#checkPw-container table td {
	padding: 0 10px;
	text-align: left;
}


#checkPw-container .input-group {
	width:100%;
}

#checkPw-container input {
	margin: 5px;
	width:100%;
}
